<?xml version='1.0' encoding='utf-8'?>
<widget id="com.evothings.clicker"
	version="0.2.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ClickerApp</name>
    <description>
        clicker app
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*"/>
    <plugin name="cordova-plugin-estimote" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
